# Node
/node_modules
package-lock.json

# Config
config.js
bitotsav@*

# Scripts
/scripts

# Firebase
service-account.json
adminSDK.js

# VS Code
.vscode

# C++
eventsJson/main
eventsJson/clean
*.exe

# Experiment
/experiment