 @font-face {
     font-family: "ral";
     src: url("../fonts/raleway/Raleway-SemiBold.ttf") format("opentype");
 }

 @font-face {
     font-family: "monre";
     src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
 }


 body {
     font-family: 'ral';
     background: #fff;
     background-image: url(../images/events-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;

 }


 .pk {
     color: rgb(248, 237, 237);
 }

 /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

 #header {
     height: 80px;
     transition: all 0.5s;
     z-index: 997;
     transition: all 0.5s;
     padding: 0px 0px 20px 0px;
     box-shadow: 0px 0px 0px rgba(227, 229, 233, 0.3);
 }

 #header.header-scrolled,
 #header.header-pages {
     height: 60px;
     padding: 10px 0;
     background: #0b5099;
 }

 #header .logo h1 {
     font-size: 36px;
     margin: 0;
     padding: 0;
     line-height: 1;
     font-weight: 400;
     letter-spacing: 3px;
     text-transform: uppercase;
 }

 #header .logo h1 a,
 #header .logo h1 a:hover {
     color: #094b92;
     text-decoration: none;
 }

 #header .logo img {
     padding: 0;
     margin: 7px 0;
     max-height: 26px;
 }


 .main-nav,
 .main-nav * {
     margin: 0;
     padding: 0;
     list-style: none;
 }

 .main-nav>ul>li {
     position: relative;
     white-space: nowrap;
     float: left;
 }

 .main-nav a {
     display: block;
     position: relative;
     color: #e7eaec;
     padding: 10px 15px;
     transition: 0.3s;
     font-size: 14px;
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
 }

 .main-nav a:hover,
 .main-nav .active>a,
 .main-nav li:hover>a .header {
     color: #d9d9e2;
     text-decoration: none;
 }

 .main-nav .drop-down ul {
     display: block;
     position: absolute;
     left: 0;
     top: calc(100% + 30px);
     z-index: 99;
     opacity: 0;
     visibility: hidden;
     padding: 10px 0;
     background: #fff;
     box-shadow: 0px 0px 30px rgba(46, 62, 100, 0.25);
     transition: ease all 0.3s;
 }

 .main-nav .drop-down:hover>ul {
     opacity: 1;
     top: 100%;
     visibility: visible;
 }

 .main-nav .drop-down li {
     min-width: 180px;
     position: relative;
 }

 .main-nav .drop-down ul a {
     padding: 10px 20px;
     font-size: 13px;
     color: #004289;
 }

 .main-nav .drop-down ul a:hover,
 .main-nav .drop-down ul .active>a,
 .main-nav .drop-down ul li:hover>a {
     color: #007bff;
 }

 .main-nav .drop-down>a:after {
     content: "\f107";
     font-family: FontAwesome;
     padding-left: 10px;
 }

 .main-nav .drop-down .drop-down ul {
     top: 0;
     left: calc(100% - 30px);
 }

 .main-nav .drop-down .drop-down:hover>ul {
     opacity: 1;
     top: 0;
     left: 100%;
 }

 .main-nav .drop-down .drop-down>a {
     padding-right: 35px;
 }

 .main-nav .drop-down .drop-down>a:after {
     content: "\f105";
     position: absolute;
     right: 15px;
 }


 .main-pages {
     margin-top: 60px;
 }

 @media (max-width: 991px) {
     #header {
         height: 60px;
         padding: 10px 0;
     }

     #header .logo h1 {
         font-size: 28px;
         padding: 8px 0;
     }

 }

 .container {
     width: 100%;
     height: 500px;
 }

 .wrap {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
 }

 .box {
     margin: 10px;
     width: 300px;
     height: 470px;
     text-align: center;
     border-radius: 3px;
     background-image: url(../images/source.gif);
     -webkit-transition: 200ms ease-in-out;
     -o-transition: 200ms ease-in-out;
     transition: 200ms ease-in-out;
     -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
 }

 .box:hover {
     margin-bottom: -10px;
     -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
 }

 .heading {
     font-size: 10em;
     font-family: 'Courier New', Courier, monospace;
     color: aliceblue;
     font-weight: bold;
 }

 @media only screen and (max-width: 1000px) {
     .heading {
         font-size: 3em;
         font-family: 'Courier New', Courier, monospace;
         color: aliceblue;
         font-weight: bold;
     }

 }

 .box h1 {
     color: #fff;
     padding: 30px;
     margin-top: 50px;
     text-align: center;
     font-weight: 900;
     font-size: 25px;
     background: rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
     font-family: cursive;
 }

 .box h2 {
     color: #fff;
     padding: 30px;
     margin-top: 20px;
     text-align: center;
     font-weight: 900;
     font-size: 15px;
     background: rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
     box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
     font-family: cursive;
 }

 .date h4 {
     color: #fff;
     font-weight: 300;
     text-align: center;
     letter-spacing: 3px;
     text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
 }

 .poster {
     width: 130px;
     height: 130px;
     margin: 120px auto;
     position: relative;
     border-radius: 100px;
 }

 .poster h4 {
     top: 16px;
     color: #fff;
     position: relative;
     font-size: 80px;
     text-align: center;
     font-weight: 100;
 }

 .two {
     /* background: url(../images/Events/Dhwani.jpg); */
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }



 /*  FOLLOW*/
 .Follow {
     background: url("https://pbs.twimg.com/profile_images/959092900708544512/v4Db9QRv_bigger.jpg")no-repeat center / contain;
     width: 50px;
     height: 50px;
     bottom: 9px;
     right: 20px;
     display: block;
     position: fixed;
     border-radius: 50%;
     z-index: 999;
     animation: rotation 10s infinite linear;
 }

 @-webkit-keyframes rotation {
     from {
         -webkit-transform: rotate(0deg);
     }

     to {
         -webkit-transform: rotate(359deg);
     }
 }


 /* -------------------------------- 
      
      Primary style
      
      -------------------------------- */
 *,
 *::after,
 *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
     font-size: 1.6rem;
     font-family: "Source Sans Pro", sans-serif;
     color: #34383c;
     background-color: #ffffff;
 }

 body.overflow-hidden {
     /* used when modal is visible */
     overflow: hidden;
 }

 a {
     color: #03bb91;
     text-decoration: none;
 }




 .button {
     text-decoration: none;
     font-size: .875rem;
     font-weight: 300;
     text-transform: uppercase;
     display: inline-block;
     border-radius: 1.5rem;
     background-color: #fff;
     color: #9191E9;
     padding: 1rem 2rem;
 }

 .popup {
     display: flex;
     align-items: center;
     justify-content: center;

     position: fixed;
     width: 80%;
     height: 90%;
     top: 0;
     left: 0;
     right: 0;
     margin: auto;
     /* background-color: rgba(0, 0, 0, 0.8); */
     z-index: 2000;
     visibility: hidden;
     opacity: 0;
     overflow: hiden;
     transition: .64s ease-in-out;
 }


 @media only screen and (max-width: 768px) {
     .popup {
         display: flex;
         align-items: center;
         justify-content: center;
         position: fixed;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         right: 0;

         z-index: 2000;
         visibility: hidden;
         opacity: 2;
         overflow: hiden;
         transition: .64s ease-in-out;
     }
 }




 .popup-inner {
     border-radius: 30px;
     position: relative;
     top: 50px;
     display: flex;
     align-items: center;

     width: 100%;
     height: 100%;
     background: linear-gradient(to top right, #d53369 0%, #7c7c7c 100%);
     -webkit-transform: rotate(32deg);
     transform: rotate(32deg);
     transition: .64s ease-in-out;
 }


 @media only screen and (max-width: 768px) {

     .popup-inner {
         position: relative;
         bottom: -100vw;
         right: -100vh;
         display: flex;
         align-items: center;

         width: 100%;
         height: 100%;
         background: linear-gradient(to top right, #d53369 0%, #cbad6d 100%);
         -webkit-transform: rotate(32deg);
         transform: rotate(32deg);
         transition: .64s ease-in-out;
     }
 }


 .popup__photo {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     width: 40%;
     height: 100%;
     overflow: hidden;

 }

 .popup__photo img {
     width: auto;
     height: 100%;
 }

 @media only screen and (max-width: 768px) {
     .popup__photo img {
         width: 100%;
         height: 50%;

     }
 }

 .popup__text {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;

     height: 100%;
     padding: 1rem;
     top: 0;
     overflow-y: auto;
 }

 @media only screen and (max-width: 768px) {
     .popup__text {
         display: flex;
         flex-direction: column;
         /* justify-content: center; */
         width: 100%;
         height: 100%;
         padding: 1rem;
         top: 0;
         overflow-y: auto;
     }
 }

 .popup__text h1 {
     font-size: 2.5rem;
     font-weight: 700;
     margin-bottom: 2rem;
     text-transform: uppercase;

 }

 .popup__text p {
     font-size: 1rem;
     line-height: 1.5;
 }

 .popup:target {
     visibility: visible;
     opacity: 1;
 }

 .popup:target .popup-inner {
     bottom: 0;
     left: 0;
     -webkit-transform: rotate(0);
     transform: rotate(0);
 }

 .popup__close {
     position: absolute;
     right: 3rem;
     top: 3rem;
     width: 3rem;
     height: 3rem;
     font-size: .875rem;
     font-weight: 300;
     border-radius: 100%;
     background-color: #0A0A0A;
     z-index: 4;
     color: #fff;
     line-height: 3rem;
     text-align: center;
     cursor: pointer;
     text-decoration: none;
 }


 @media only screen and (max-width: 768px) {

     .popup__close {
         position: absolute;
         right: 1.8rem;
         top: 1rem;
         width: 3rem;
         height: 3rem;
         font-size: .875rem;
         font-weight: 300;
         border-radius: 100%;
         background-color: #0A0A0A;
         z-index: 4;
         color: #fff;
         line-height: 3rem;
         text-align: center;
         cursor: pointer;
         text-decoration: none;
     }

 }

 .rulesAndReg {
     text-align: left !important;
 }

 .text {
     font-weight: 1500;
     color: black;
     font-size: 2em;
     font-family: 'ral';
     text-decoration: underline;
     text-indent: 0.4em;
 }

 .text-inner {
     color: black;
     font-size: 2.2em;
     font-family: 'monre';
 }


 @media only screen and (max-width: 768px) {

     .text-inner {
         color: black;
         font-size: 1.2em;
         font-family: 'monre';
     }
 }

 @media only screen and (max-width: 768px) {
     .text {
         font-weight: 1500;
         color: black;
         font-size: 2em;
         font-family: 'ral';
         text-decoration: underline;
     }
 }

 .box h3 {
     top: 100%;
     font-size: 2em;
     font-weight: 800;
     font-family: 'ral';

     color: blanchedalmond;
 }

 @media only screen and (max-width: 768px) {
     .box h3 {
         top: 100%;
         font-size: 2em;
         font-weight: 800;
         font-family: 'ral';
         color: blanchedalmond;
     }
 }



 .scrollbar::-webkit-scrollbar {
     /* background-color: white; */
     width: 15px;


 }

 /* background of the scrollbar except button or resizer */
 /* .scrollbar::-webkit-scrollbar-track {
     background-color: white;
 } */

 /* .scrollbar::-webkit-scrollbar-track:hover {
     background-color: #f4f4f4
 } */

 /* scrollbar itself */
 .scrollbar::-webkit-scrollbar-thumb {
     background-color: black;
     border-radius: 22px;
     border: 1px solid #fff
 }

 .scrollbar::-webkit-scrollbar-thumb:hover {
     background-color: #a0a0a5;
     border: 4px solid #f4f4f4
 }

 /* set button(top and bottom of the scrollbar) */
 /* .scrollbar::-webkit-scrollbar-button {
     display: none
 } */

 /* div box */
 body {
     background-color: #babac0
 }

 .scrollbar {
     min-width: 150px;

     overflow-y: scroll
 }

 .overflow {
     min-height: 100vh
 }




 .nice-footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
 }