@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@font-face {
	font-family: Montserrat-SemiBold;
	src: url('../fonts/ElMessiri-SemiBold.ttf'); 
  }
  @font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
  }
  
* {
	box-sizing: border-box;
} 
body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
	/* font-family: Montserrat-Regular; */
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid rgb(141, 9, 202);
	background-color: rgb(135, 12, 184);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: rgb(238, 226, 226);
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 45px;
	height: 100%;
	text-align: center;
}

.animated-button  {
    width: 20%;
	background-color: #c4c4f8;
	padding: 12px 15px;
	margin: 8px 0;
	border-radius: 0px 8px 8px 0px;

  }
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background:  #9999f8;
	background: -webkit-linear-gradient(to right,#643986, #98aed5);
	background: linear-gradient(to right,  #643986, #98aed5);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: rgb(250, 157, 157);
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
.wrap-input100 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
  }
  
  .input100 {
	display: block;
	width: 100%;
	background: #e6e6e6;
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
  }
  input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #aaaaaa; }
input:-moz-placeholder { color: #aaaaaa; }
input::-moz-placeholder { color: #aaaaaa; }
input:-ms-input-placeholder { color: #aaaaaa; }

textarea::-webkit-input-placeholder { color: #aaaaaa; }
textarea:-moz-placeholder { color: #aaaaaa; }
textarea::-moz-placeholder { color: #aaaaaa; }
textarea:-ms-input-placeholder { color: #aaaaaa; }
input.input100 {
	height: 50px;
	border-radius: 25px;
	padding: 0 30px 0 50px;
  }
  
  input.input100[name="email"] {
	padding: 0 30px 0 54px;
  }
  
  textarea.input100 {
	min-height: 150px;
	border-radius: 25px;
	padding: 14px 30px;
  }
  
  /*---------------------------------------------*/
  .wrap-input100 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 10px;
  }
  
  .input100 {
	display: block;
	width: 100%;
	background: #e6e6e6;
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #666666;
  }
  .bitot{
	font-family: Montserrat-Bold;
	font-size:35px;
	color:#333333;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
	display: block;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 0px 0px;
	color: rgba(132,106,221, 0.5);
  }
  
  .input100:focus + .focus-input100 {
	-webkit-animation: anim-shadow 0.5s ease-in-out forwards;
	animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
	to {
	  box-shadow: 0px 0px 60px 25px;
	  opacity: 0;
	}
  }
  
  @keyframes anim-shadow {
	to {
	  box-shadow: 0px 0px 60px 25px;
	  opacity: 0;
	}
  }
  
  .symbol-input100 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 30px;
	pointer-events: none;
	color: #aaaaaa;
	font-size: 15px;
  
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
	color: #846add;
	padding-left: 22px;
  }
  .validate-input {
	position: relative;
  }
  
  .alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: white;
	border: 1px solid #c80000;
	border-radius: 13px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
	pointer-events: none;
  
	font-family: Montserrat-Medium;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
  
	visibility: hidden;
	opacity: 0;
  
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
  }
  
  .alert-validate::after {
	content: "\f06a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 13px;
  }
  
  .alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
  }
  
  @media (max-width: 992px) {
	.alert-validate::before {
	  visibility: visible;
	  opacity: 1;
	}
  }
  .alert-validate1::before {
	content: attr(data-validate1);
	position: absolute;
	max-width: 70%;
	background-color: white;
	border: 1px solid #c80000;
	border-radius: 13px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
	pointer-events: none;
  
	font-family: Montserrat-Medium;
	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
  
	visibility: hidden;
	opacity: 0;
  
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
  }
  
  .alert-validate1::after {
	content: "\f06a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 13px;
  }
  
  .alert-validate1:hover:before {
	visibility: visible;
	opacity: 1;
  }
  
  @media (max-width: 992px) {
	.alert-validate1::before {
	  visibility: visible;
	  opacity: 1;
	}
  }
  @keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid white;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}
@media (max-width: 1200px) {
	.contact100-pic {
	  width: 33.5%;
	}
  
	.contact100-form {
	  width: 44%;
	}
  }
  
  @media (max-width: 992px) {
	.wrap-contact100 {
	  padding: 50px 80px 157px 90px;
	}
  
	.contact100-pic {
	  width: 35%;
	}
  
	.contact100-form {
	  width: 55%;
	}
  }
  
  @media (max-width: 768px) {
	.wrap-contact100 {
	  padding: 50px 80px 57px 80px;
	}
  
	.container {
	  display: none;
	}
	.contact100-pic {
		display: none;
	  }
  
	.contact100-form {
	  width: 100%;
	}
  }
  
  @media (max-width: 576px) {
	.wrap-contact100 {
	  padding: 0px 15px 32px 15px;
	}
  }
  @media (min-width: 768px) {
	.container-contact100 {
		display: none;
	  }
  }






  
