body {
    background: linear-gradient(to right,#1565C0, #b92b27);
    background-repeat: no-repeat;
    background-attachment: fixed;
   
    
    height: 100vh;
    width: 100vw;
    display: flex;
}

.top-card {
    margin: 10px 0px 10px 0px;
}

.inside-card {
    padding: 0px 5px 2px 5px;
    display: flex;
    justify-content: center;
}

.material-icons {
    vertical-align: middle;
    margin-right: 1em;
}

.panel-group {
    margin-top: 90px;
}